<div id="m-header" class="container p-5">
    <div id="m-header-title" class="container text-center">
        <a class="display-6 text-dark" style="text-decoration:none;" href="/">大猫子</a>
    </div>
    <div id="m-header-nav" class="container p-4">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/post">POST</a>
            </li>
        </ul>
    </div>
</div>
