---
layout: default
---

{% include head.html %}

<body>
    {% include header.html %}

    <div id="m-posts-content" class="container" style="margin:auto; width:60%;">
        <h5 style="text-align:center;">➡️ &raquo; <a style="text-decoration:none;color:#8D2424;" href="{{ BASE_PATH }}{{ post.url }}">{{ page.title }}</a> -- {% if page.tag %}<small style="font-size:15px;">{{page.tag}}</small>{% endif %}</h5>
        <h6 style="color:#3E3E3E;font-style:italic;font-size:15px;text-align:center;">By <a style="text-decoration:none;" href="/">{{ page.author }}</a> on {{ page.date | date_to_string }}</h6>
        <br>
        {{ content }}
    </div>
</body>
